{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie sua nova senha</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <h2>Digite sua nova senha</h2>
        </br>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">Nova senha:</label>
                {{ form.new_password1 }}
            </div>
        </br>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirme a nova senha:</label>
                {{ form.new_password2 }}
            </div>
        </br>
            <button type="submit" class="btn btn-primary">Alterar minha senha</button>
        </form>
    </div>
</body>
</html>
