{% load i18n %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperação de senha completa</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <div class="container">
        <h2>Sua senha foi redefinida</h2>
        <p>Sua senha foi redefinida. Agora você pode fazer login com sua nova senha.</p>
        <button type="button" onclick="window.location.href={% url 'login' %}" class="btn">OK</button>
    </div>
</body>
</html>
