{% load i18n %}
{% load static%}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Redefinição de senha</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <div class="container">
        <h2>Redefinição de senha</h2>
        <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo, e nós enviaremos instruções para definir uma nova.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }} 
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>
