{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista de Medicamentos</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    {% include 'common/header.html' %}
    <div class="content">
        <h1>Lista de Medicamentos</h1>
        <div class="medications-list">
            {% for medicamento in medicamentos_autorizados %}
                <div class="medication-card">
                    <div class="medication-header">
                        <h3><strong>{{ medicamento.nome }}</strong></h3>
                    </div>
                    <div class="medication-content">
                        <p><strong>Dosagem:</strong> {{ medicamento.dosagem }}</p>
                        <p><strong>Frequência:</strong> {{ medicamento.frequencia }}</p>
                        <p><strong>Paciente:</strong> {{ medicamento.paciente }}</p>
                    </div>
                    <div class="medication-actions">
                        <button type="button" onclick="window.location.href='{% url 'medicamento_update' medicamento.id %}'" class="btn btn-primary">Editar</button>
                        <button type="button" onclick="window.location.href='{% url 'medicamento_delete' medicamento.id %}'" class="btn btn-delete">Excluir</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="button-group">
            <button type="button" onclick="window.location.href='{% url 'index' %}'" class="btn btn-secondary">Voltar para página inicial</button>
            <button type="button" onclick="window.location.href='{% url 'medicamento_create' %}'" class="btn btn-primary">Adicionar Medicamento</button>
        </div>
    </div>
</body>
</html>
