body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("/static/img/fundo_tela.jpg");
    background-size: cover;
    background-position: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-info, .familiar-info, .medico-info {
    width: 100%;
    margin-bottom: 20px;
}

.profile-info p, .familiar-info p, .medico-info p {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
p {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}