{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApoioSaúde - Perfis de Usuário</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet'>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/pt-br.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>
<body>
{% include 'common/base.html' %}
{% block content %}
    <section class="objetivo-block">
        <h2>Nosso Objetivo</h2>
        <p>O ApoioSaúde tem como objetivo facilitar a comunicação entre pacientes, médicos e cuidadores, além de otimizar o processo de cuidado e gerenciamento de informações de saúde. Acreditamos que, com a nossa plataforma, podemos melhorar a qualidade de vida dos pacientes e facilitar o trabalho dos profissionais de saúde.</p>
    </section>
{% endblock %}
