{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    {% include 'common/header.html' %}
    <div class="content">
        <h1>Lista de Pacientes</h1>
        <div class="patients-list">
            {% for paciente in object_list %}
                <div class="patient-card">
                    <a href="{% url 'paciente_detail' paciente.id %}">
                        <div class="patient-photo">
                            {% if paciente.foto_perfil %}
                                <img src="{{ paciente.foto_perfil.url }}" alt="Foto de perfil de {{ paciente.nome }}">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Sem foto">
                            {% endif %}
                        </div>
                        <div class="patient-info">
                            <h2>{{ paciente.nome }}</h2>
                            <p>{{ paciente.calcular_idade }} anos</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="button-group">
            <button type="button" onclick="window.location.href='{% url 'index' %}'" class="btn btn-secondary">Voltar para página inicial</button>
            <button type="button" onclick="window.location.href='{% url 'create_paciente' %}'" class="btn btn-primary">Adicionar Paciente</button>
        </div>
    </div>
</body>
</html>
